<form [formGroup]="registerForm" (ngSubmit)="register()"  autocomplete="off">
    <h2 class="text-center text-dark">Sign Up</h2>
    <hr>
    <div class="form-group">
        <input
        [class.is-invalid]='registerForm.get("username").errors 
        && registerForm.get("username").touched'
        type="text" 
        class="form-control"
        formControlName="username" 
        placeholder="Username"
        style=" margin-bottom: 5px;" >
        <div class="invalid-feedback">Please enter username</div>
    </div>

    <div class="form-group">
        <input  
        [class.is-invalid]='registerForm.get("password").errors 
        && registerForm.get("password").touched'
        class="form-control" type="password" formControlName="password" placeholder="Password"
        style="margin-bottom: 5px;" >
        <div  *ngIf="registerForm.get('password').hasError('required')"
         class="invalid-feedback">Please enter a password</div>
         <div  *ngIf="registerForm.get('password').hasError('minlength')"
         class="invalid-feedback">Password must be at least 4 characters</div>
         <div  *ngIf="registerForm.get('password').hasError('maxlength')"
         class="invalid-feedback">Passwordmust be at most 8 characters</div>
    </div>
    <div class="form-group">
        <input  
        [class.is-invalid]='registerForm.get("confirmPassword").errors 
        && registerForm.get("confirmPassword").touched'
        class="form-control" 
        type="password" 
        formControlName="confirmPassword" placeholder="Password"
        style="margin-bottom: 5px;" >
        <div  *ngIf="registerForm.get('confirmPassword').hasError('required')"
        class="invalid-feedback">Please enter a confirm password</div>
        <div  *ngIf="registerForm.get('confirmPassword').hasError('isMatching')"
        class="invalid-feedback">Confirm password must match password</div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-dark" style="margin-right: 5px;" type="submit">Register</button>
        <button class="btn btn-secondary mr-2" type="submit" (click) = "cancel()">Cancel</button>
    </div>
</form>

<p>form value: {{registerForm.value | json}}</p>
<p>form status: {{registerForm.status| json}}</p>