
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">DatingApp</a>

        <ul class="navbar-nav me-auto" *ngIf="loggedIn">
          <li class="nav-item">
            <a class="nav-link "href="#">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "  (click)="logout()" href="#">Logout</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="loggedIn" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle>Welcome User</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider">

            </div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>

        <form *ngIf="!loggedIn" #loginForm="ngForm" class="d-flex mt-md-0 mt-2 mr-2" (ngSubmit)="login()"
        autocomplete="off">
            <input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control mr-sm-2 mx-2" 
            type="text" 
            placeholder="Username">

            <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2 mx-2" 
            type="password" 
            placeholder="Password">
            <button class="btn btn-outline-success mx-2" type="submit">Login</button>
        </form>
      </div>
  </nav>