/* footer.component.css */
footer.footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    text-align: center; /* Center align text */
    padding: 20px; /* Padding around content */
    font-size: 14px; /* Font size */
    position: fixed; /* Fix position to the bottom */
    left: 0; /* Align to the left */
    bottom: 0; /* Stick to the bottom of the viewport */
    width: 100%; /* Full width of the viewport */
}

footer.footer p {
    margin: 10px 0; /* Space between paragraphs */
}

footer.footer i {
    margin-right: 8px; /* Space between icon and text */
}
